.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3498db;
  padding: 10px 20px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
}

.navbar-left {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  gap: 20px;
}

.btn {
  text-decoration: none;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #1a6092;
}


@media (max-width:600px) {
  h2 > span {
    display: none;
  }
  .navbar{
    z-index: 1000;
    width: 90%;
  }
}